.naslov__img{
        position:absolute;
        width:100%;
        height:80rem;
        background-position:center;
        object-fit:cover;
      }
      .naslov__img > img{
        width:100%;
        height:100%;
      }
    
    .naslov__container{
            background-color: rgba(0, 0, 0, 0.3);
            width:100%;
            height:80rem;
            transition: 0.5s ease;
    }
    .naslov__textCont{
            display:flex;
            height:80rem;
            flex-direction:column;
            justify-content:center;
    }
    .naslov__text{
            position:relative;
            max-width:70rem; 
            font-size:6rem;
            line-height:68px;
            letter-spacing:0.1em;
            color:var(--bela);
            margin-bottom:3rem;
            border: 7.5px solid;
            padding:1rem;
            background-color:rgba(44, 96, 126,0.3) ;
            border-image: linear-gradient(to right, rgba(44, 96, 126,0.8) 2.5%,transparent 10%, transparent 85%, rgba(51, 140, 192,0.4) 2.5%) 10% 1;
    }
    .oNama__glavni-naslov{
        display:flex;
        align-items:center;
        font-size:var(--velicina-naslov);
    }
    .oNama__naslov{
        display:flex;
        flex-direction:column;
        font-size:var(--h3Naslov-velicina);
    }
    .oNama__textCont{
        display:flex;
        flex-direction: column;
        gap:2rem;
        width:50%;
        line-height:2em;
    }
    .oNama__info{
        display:flex;
        align-items:center;
        gap:2rem;
        margin:0 auto;
        padding-block:6rem;
        text-align:left;
        font-size:1.4rem;
    }
    .oNama__image{
        width:25%;
        height:100%;
    }
    .oNama__image > img{
        height:100%;
        width:100%;
        max-height:30rem;
        filter: grayscale(100%);
    }