*{
    padding:0;
    margin:0;
    box-sizing:border-box;
  }
/* Varijable */
:root{
--body:#4E51A4;
--navText:rgb(255, 255, 255);
--newsCardText:rgba(224, 224, 224, 0.849);
--secondNavBg:rgb(48, 51, 142);
--specialHyperLink:rgb(216, 153, 81);
--button-hover-bg:rgb(216, 153, 81);
--button-hover-text:rgb(255, 255, 255);
--label-color:rgb(208, 145, 72);
--white:rgb(255, 255, 255);
--shadow:rgb(43, 53, 66);
--text-blured:rgba(255, 255, 255, 0.719);
--disabled:rgb(255, 255, 255);
--black:#000000;
--lightblack:#1f2946;
--lightgray:#e9e9e949;
--darkgray:rgba(122, 122, 122, 0.5);
--darkblue:rgb(41, 79, 101);
--grayblue:#0b818b;
--blue:#55f1ff;
--lightblue:#d2e5fb;

--form-color:rgba(74, 77, 130, 0.8);

--specialHyperLink-font:1.5rem;
--newsCardText-font:1.25rem;
--label-size:1.5rem;
--title-size:3rem;
--subTitle-size:2rem;
}
html {
  /* Objašnjenje - 62.5% => 10px = 1rem;  */
    font-size: 62.5%;
}
#body{
  background: rgb(43,53,66);
  background:  linear-gradient(90deg, rgba(43,53,66,1) 10%, rgba(39,85,98,1) 50%);
  color:var(--white);
  letter-spacing:0.15em;
  min-height:100vh;
}
body:focus-visible{
  outline-color:var(--black);
  outline-offset:2px;
}
.container{
  width:80%;
  margin:0 auto;
  height:100%;
}
.footer{
  position:relative;
  bottom:0;
}
.dugme{
  width:max-content;
  padding: 0.5rem 1rem;
  height:auto;
  background-color:var(--white);
  color:var(--black);
  border-radius:10%;
  font-size:1.5rem;
  display:flex;
  align-items:center;
  justify-content:center;
  border:1px solid var(--specialHyperLink);
  transition:all 250 ease-in-out;
}
.dugme:hover{
  cursor:pointer;
  background-color:var(--button-hover-bg);
  color:var(--button-hover-text);
  transition:all 250 ease-in-out;
}
a{
  text-decoration:none;
  color:var(--navText);
  cursor:pointer;
  transition:all 250ms ease-in-out;
}
.okean{
  padding-block:12.5rem;
  min-height:100vh;
}
a:hover{
  color:var(--specialHyperLink);
  transition:all 250ms ease-in-out;
}
li{
  list-style:none;
}
@media only screen and (max-width:768px){
  html {
    /* Objašnjenje - 62.5% => 10px = 1rem;  */
      font-size: 52.5%;
  }
}
@media only screen and (max-width:320px){
  html {
    /* Objašnjenje - 62.5% => 10px = 1rem;  */
      font-size: 42.5%;
  }
}