*{
    padding:0;
    margin:0;
    box-sizing:border-box;
  }
/* Varijable */
:root{
--specialHyperLink-font:1.5rem;
--newsCardText-font:1.25rem;
--label-size:1.5rem;
--title-size:3rem;
--h2Naslov-velicina:4rem;
--h3Naslov-velicina:3rem;
--h5Naslov-velicina:2rem;

}
#body{
  background: rgb(43,53,66);
  background:var(--body);
  color:var(--white);
  letter-spacing:0.15em;
  min-height:100vh;
}

body:focus-visible{
  outline-color:var(--black);
  outline-offset:2px;
}
.container{
  width:80% !important;
  margin:0 auto;
  height:100%;
}
.footer{
  position:relative;
  bottom:0;
}
.footer__container{
  display:flex;
  justify-content:space-between;
}
.dugme{
  width:max-content;
  padding: 0.5rem 1rem;
  height:auto;
  background-color:var(--white);
  color:var(--black);
  border-radius:10%;
  font-size:1.5rem;
  display:flex;
  align-items:center;
  justify-content:center;
  border:1px solid var(--specialHyperLink);
  transition:all 250 ease-in-out;
}
.dugme:hover{
  cursor:pointer;
  background-color:var(--button-hover-bg);
  color:var(--button-hover-text);
  transition:all 250 ease-in-out;
}
 a{
  text-decoration:none;
  color:var(--navText);
  cursor:pointer;
  transition:all 250ms ease-in-out;
}
.footer a{
  text-decoration:none;
  color:var(--specialHyperLink);
  cursor:pointer;
  transition:all 150ms ease-in-out;
}
.okean{
  padding-block:5.5rem;
}
hr{
  align-self:center;
  width:15rem;
  margin-top:1rem;
  margin-bottom:3.5rem;
  height:2px;
  border:1px solid var(--hr-border);
}

li a:hover{
  color:var(--specialHyperLink);
  transition:all 250ms ease-in-out;
}
.footer a:hover{
  color:var(--specialHyperLink-hover);
  transition:all 150ms ease-in-out;
}
li{
  list-style:none;
}
.naslovniDeo{
  display:flex;
  flex-direction:column;
  text-align:center;
  width:100%;
}
