.naslov{
    position:relative;
    overflow:hidden;
    width:100%;
}

.naslov__dugmadOmotac{
        position:absolute;
        inset:0;
        display:flex;
        width:100%;
        height:auto;
        padding:0 2rem;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
}

.naslov__dugme{
        width:50px;
        height:50px;
        background-color:transparent;
        cursor:pointer;
        border:none;
        z-index:20;
}

.naslov__dugme > span{
        color:var(--white);
        font-size:50px;
        width:50px;
}

.strelica-nazad{
        color:var(--white);
        pointer-events:all;
}
.strelica-napred{
        color:var(--white);
        pointer-events:all;
}

.je-sakriveno{
        color:var(--disabled);
        opacity:0.65;
        pointer-events:none;
}
.naslov__carousel{
        position:relative;
        height:100%;
        transition:transform 250ms ease-in;
        z-index: -1;
}
.naslov__img{
    position:absolute;
    width:100%;
    height:100vh;
    background-position:center;
    object-fit:cover;
  }

.naslov__container{
        background-color: rgba(0, 0, 0, 0.3);
        width:100%;
        height:85rem;
        transition: .5s ease;
}
.naslov__text-dugme{
        display:flex;
        height:80rem;
        flex-direction:column;
        justify-content:center;
}
.naslov__text{
        position:relative;
        max-width:70rem; 
        font-size:6rem;
        line-height:68px;
        letter-spacing:0.2em;
        color:var(--white);
        margin-bottom:3rem;
        border: 7.5px solid;
        padding:1rem;
        border-image: linear-gradient(to right, rgba(44, 96, 126,0.8) 2.5%,transparent 10%, transparent 85%, rgba(51, 140, 192,0.4) 2.5%) 10% 1;
}

.naslov__dugme{
        color:var(--white);
        z-index:20;
}

.naslov__ul{
     display:flex;
     gap:20px;
     justify-content:center;
 }
 
.naslov__carousel-lista{
         display:inline-block;
         width:20px;
         height:20px;
         border-radius:50%;
         background-color:var(--lightgray);
         border:2px solid var(--black);
         transition:0.5s ease-in-out;
         cursor:pointer;
         z-index:10;
}
.trenutni-slajd{
        background-color:var(--white);
}
.novosti{
        margin-block:2rem;
}
.novosti__sveKarteContainer{
        display:flex;
        flex-wrap:wrap;
        gap:1rem;
        justify-content:space-between;
}
.novosti__karta{
        display:flex;
        flex-direction: column;
        padding-block:0.5rem;
        min-width:30rem;
        max-width:30rem;
        transition:all 300 ease-in-out;
        box-shadow:var(--senka-blaga);
}
.novosti__karta:hover{
        transform: scale(1.1);
        transition:all 300 ease-in-out;
}
.novosti__text{
        font-size:var(--newsCardText-font);
        color:var(--newsCardText);
        letter-spacing:0.15em;
        padding-top:1rem;
        padding-bottom:0.5rem;
        line-height:1.35em;
}
.novosti__slikaContainer{
        max-height:20rem;
        min-height:20rem;
        min-width:30rem;
        max-width:30rem;
}
.novosti__slikaContainer > img{
        width:100%;
        height:100%;
}
.novosti__h3{
        display:flex;
        position:relative;
        text-align:center;
        font-size:2.25rem;
        font-style:italic;
        padding-block:0.5rem;
}
.novosti__linkContainer > a{
        color:var(--specialHyperLink);
        font-weight:800;
        font-size:var(--specialHyperLink-font);
}
.novosti__donjiDeo{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        height:100%;
        padding-bottom:1rem;
}